body {
    height: 100vh;
}
header {
    background-color: grey;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height: 10%;
}
header h1 {
    text-align: center;
    margin: 0;
}
#chat {
    height: 90%;
}
#mobile-controllers {
    display: none;
}
#messages {
    height: 100%;
    position: relative;
    background-color: #e6e6e6;
    overflow-y: scroll;
}
#messages p {
    display: block;
    margin: 1%;
    word-wrap: break-word;
}
#messages-form {
    display: block;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
}
#messages-form input[type="text"] {
    width: 85%;
    margin-bottom: 0;
}
#messages-form input[type="submit"] {
    width: 14%;
    margin: 0;
}
#users {
    height: 100%;
    padding: 1rem;
}
button {
    margin: 0px;
}