header {
    background-color: grey;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
header h1 {
    text-align: center;
    margin: 0;
}
#chat {
    height: 80vh;
}
#mobile-controllers {
    display: none;
}
#messages {
    height: 80vh;
    background-color: #e6e6e6;
    overflow-y: scroll;
}
#messages p {
    display: block;
    margin: 1%;
    word-wrap: break-word;
}
#messages-form {
    display: block;
    text-align: center;
}
#users {
    padding: 1rem;
}
button {
    margin: 0px;
}